@{
    Web2.Models.WebDoTreEmEntities2 Db = new Web2.Models.WebDoTreEmEntities2();
    //int Idsp = ViewBag.IdProduct;
    var sanpham = Db.SanPham.FirstOrDefault(sp => sp.Id == 19);
    var HinhAnhCT = Db.HinhAnhChiTietSp.Where(ha => ha.IdSanPham == sanpham.Id).ToList();
    var SizeSp = Db.SanPham_Size.Where(sp => sp.IdSanPham == sanpham.Id).ToList();
    var LstSp = Db.SanPham.Where(sp => sp.Masp == sanpham.Masp).ToList();
    var LstDanhMuc = Db.DanhMucSp.ToList();
    var LstPhanLoaiSP = Db.LoaiSp.ToList();
    var IdDanhMuc = sanpham.IdDanhMuc;
}

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <script>
        function ClickEditIMG(inputId) {
            document.getElementById(inputId).click();
        }

        function displaySelectedImage(event) {
            var input = event.target;
            var file = input.files[0];
            var reader = new FileReader();

            reader.onload = function(e) {
                var imgElement = document.getElementById(input.id + '-img');
                imgElement.src = e.target.result;
                document.getElementById(input.id + '-imageSaveButton').style.display = 'inline-block';
            };

            reader.readAsDataURL(file);
        }
    </script>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
    var soluong = $('.SanPhamTheoSize_' + @SizeSp.FirstOrDefault().Id).attr('id')
    console.log(soluong)
    $('.SanPhamTheoSize_' + @SizeSp.FirstOrDefault().Id).addClass('active')
    $('#val-SoLuongSP').val(soluong)

    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<style>
    .img-thumbnail-small {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .img-thumbnail-nice-scroll {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .nice-scroll {
        height: 295px;
        overflow: scroll;
        margin-top: calc(0.375rem + 1px);
    }

    .form_control-SizeSp {
        width: 52px;
        display: block;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        margin: 0.15rem 0.25rem;
        font-size: 0.975rem;
        font-weight: 450;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #eaeaea;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        position: relative;
        overflow: hidden;
    }

    .form_control {
        width: 100%;
        display: block;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        margin: 0.15rem 0.25rem;
        font-size: 0.975rem;
        font-weight: 450;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        position: relative;
        overflow: hidden;
    }


    .form_control-SizeSp:hover, .form_control-SizeSp:focus, .form_control-SizeSp.active {
        box-shadow: none;
        background: #fff;
        color: #ff5050;
        position: relative;
        border: 1px solid #8d9196;
    }

    .form_control_SizeSp::after {
        content: "";
        position: absolute;
        top: 0;
        left: 8px;
        width: 200%;
        height: 200%;
        border: 1px solid transparent;
    }

    .form_control-SizeSp::after {
        border-bottom: 1px solid #8d9196;
        border-left: 1px solid #8d9196;
        transform: rotate(145deg);
        transform-origin: center;
    }

    .form_control-SizeSp.hide-after::after {
        content: none; /* This will hide the ::after pseudo-element */
    }

    .form-group-a {
        color: #0e0e0e;
    }
</style>

<div class="card-body">
    <div class="form-validation">
        <form class="form-valide" method="post">
            <div class="row">
                <div class="col-xl-6 ">
                    <div class="form-group  form-group-img AnhProduct">
                        <div class="row" id="AnhProduct">
                            <label class="col-lg-5 col-form-label" for="val-img">
                                <img src="@sanpham.AnhSp" class="img-thumbnail">
                            </label>
                            <div class="col-lg-3 nice-scroll">
                                @foreach (var item in HinhAnhCT)
                                {
                                    <img src="@item.FileAnhChiTiet" class="img-thumbnail-nice-scroll">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-form-label"><a class="form-group-a" href="javascript:;" data-toggle="modal" data-target="#exampleModalScrollable"> Chỉnh sửa ảnh</a></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-TenSanPham">
                            Tên sản phẩm:
                        </label>
                        <div class="col-lg-6">
                            <input class="form-control" id="val-TenSanPham" name="val-TenSanPham" value="@sanpham.TenSanPham">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-DanhMuc">
                            Danh mục:
                        </label>
                        <div class="col-lg-6 SelectDanhMuc">
                            <select class="form-control val-DanhMuc" id="val-DanhMuc" href="javascript:;" onclick="ClickDanhMucPhanLoai()">
                                <option value="@sanpham.IdDanhMuc">@LstDanhMuc.FirstOrDefault(x => x.id == sanpham.IdDanhMuc).TagDM</option>
                                @foreach (var item in LstDanhMuc.Where(x => x.id != sanpham.IdDanhMuc))
                                {
                                    <option value="@item.id">@item.TagDM</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-PhanLoaiSanPham">
                            Phân loại:
                        </label>
                        <div class="col-lg-6 SelctPhanLoai">
                            <select class="form-control" id="val-PhanLoaiSanPham" name="val-PhanLoaiSanPham">
                                <option value="@sanpham.IdLoai">@LstPhanLoaiSP.FirstOrDefault(x => x.id == sanpham.IdLoai).ChiTiet</option>
                                @foreach (var item in LstPhanLoaiSP.Where(x => x.id != sanpham.IdLoai && x.IdDM == sanpham.IdDanhMuc))
                                {
                                    <option value="@item.id">@item.ChiTiet</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-Mota">
                            Mô tả:
                        </label>
                        <div class="col-lg-6">
                            <textarea rows="5" class="form-control" id="val-Mota" name="val-Mota">@sanpham.MotaSp</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-SizeSp">
                            Size:
                        </label>
                        <div class="col-lg-6 row">
                            <div class="row " style="margin-left: 10px;">
                                @foreach (var item in SizeSp)
                                {
                                    <div class=" form_control-SizeSp FormSizeSP @(item.SoLuong == 0 ? "" : "hide-after") SanPhamTheoSize_@item.Id" id="@item.SoLuong" data-id="@item.Id" href="javascript:;" onclick="ClickSizeSp(@item.Id)">
                                        @Db.Size.FirstOrDefault(s => s.id == item.IdSize).TagSize
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-SoLuongSP">
                            Số lượng:
                        </label>
                        <div class="col-lg-6">
                            <input class="form_control" style="width: 52px;" id="val-SoLuongSP" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-MauSP">
                            Màu:
                        </label>
                        <div class="col-lg-6 ">
                            <div class="row" style="padding-left: 10px;">
                                @foreach (var item in LstSp)
                                {
                                    <div class=" form_control-SizeSp hide-after">
                                        <span id="val-MauSp" name="val-MauSp">@item.MauSP </span>
                                    </div>
                                }
                                <span id="val-MauSp" name="val-MauSp"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-Gia">
                            Giá:
                        </label>
                        <div class="col-lg-6">
                            <input class="form-control" id="val-Gia" name="val-Gia" title="Giá sản phẩm ban đầu nhập các số đầu" value=" @sanpham.Gia" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-GiamGia">
                            Giảm giá:
                        </label>
                        <div class="col-lg-6">
                            <input class="form-control" id="val-GiamGia" name="val-GiamGia" title="Giảm giá theo %" value="@sanpham.GiamGia" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-TinhTrang">
                            Tình trạng:
                        </label>
                        <div class="col-lg-6">
                            <input class="form-control" id="val-TinhTrang" name="val-TinhTrang" value="@sanpham.TinhTrang" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-Brand">
                            Brand:
                        </label>
                        <div class="col-lg-6">
                            <input class="form-control" id="val-Brand" name="val-Brand" value="@sanpham.Brand" title="Brand của sản phẩm" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-DdNb">
                            Đặc điểm nổi bật:
                        </label>

                        <div class="col-lg-6">
                            <a data-target="#AddDacDiemNoiBat" data-toggle="modal" class="btn btn-outline-dark btn-event">
                                <span class="align-middle"><i class="ti-plus"></i></span>
                            </a>
                        </div>
                    </div>
                    @foreach (var item in Db.DacDiemSP.Where(x => x.MaSp == sanpham.Masp))
                    {
                        <div class="form-group row">
                            <div class="col-lg-1"></div>
                            <input class=" col-lg-3 form-control " for="val-DDNB" id="val-NameDacDiemNoiBat" value="@item.NameDacDiem" />
                            <div class="col-lg-6">
                                <input class="form-control" id="val-DacDiemNoiBat" name="val-DacDiemNoiBat" value=" @item.DacDiemSanPham">
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 ml-auto" style="padding-left: 28px;">
                    <button type="button" href="javascript:;" onclick="EditProduct(@sanpham.Id)" class="btn btn-success" style="width: 95px;">Cập nhật</button>
                    <button type="button" href="javascript:;" onclick="DeleteProduct(@sanpham.Id)" class="btn btn-danger" style="width: 95px;">Xóa</button>
                    <button type="button" href="javascript:;" onclick="Database()" class="btn btn-primary" style="width: 95px;">Trở lại</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" id="EditImg-content">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Chỉnh sửa hình ảnh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row form-group-img">
                    <div class="col-lg-5 col-form-label" for="val-img">
                        @using (Html.BeginForm("EditImage", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data", id = "Uploaded" }))
                        {
                            <input type="hidden" name="IdSp" value="@sanpham.Id" />
                            <span class="col-lg-4 col-form-label">Hình ảnh hiển thị</span>
                            <img src="@sanpham.AnhSp" class="img-thumbnail" id="@sanpham.Id-img">
                            <input type="file" id="@sanpham.Id" name="fileImage" style="display: none;" onchange="displaySelectedImage(event)">
                            <div class=" mb-1 text-center Img-Show" style="padding-top:3px">
                                <button type="button" class="btn btn-dark btn-group" data-toggle="tooltip" title="Chọn file ảnh" onclick="ClickEditIMG('@sanpham.Id')">
                                    <i class="ti-clip"></i>
                                </button>
                                <button type="button" class="btn btn-dark btn-group" data-toggle="tooltip" title="Xóa ảnh" onclick="DeleteImg('@sanpham.Id')">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button type="button" class="btn btn-dark btn-group" data-toggle="tooltip" title="Lưu ảnh" id="@sanpham.Id-imageSaveButton" style="display:none" onclick="SaveImg('@sanpham.Id')">
                                    <i class="ti-bookmark"></i>
                                </button>
                            </div>
                        }
                    </div>

                    <div class="col-lg-7 exampleModalAddImg" style="margin-top: 7px;">
                        <span class="col-lg-4 col-form-label">Hình ảnh chi tiết</span>
                        <div class="row" id="content_exampleModalAddImg">
                            @foreach (var item in HinhAnhCT)
                            {
                                <div class="col-5">
                                    <input type="hidden" name="IdHinhAnhDetail" value="@item.Id" />
                                    <input type="file" id="@item.Id" name="fileImage" style="display: none;" onchange="displaySelectedImage(event)" />
                                    <img src="@item.FileAnhChiTiet" class="img-thumbnail-small" id="@item.Id-img">
                                    <div class="mb-1 text-center" style="padding-top:3px">
                                        <button onclick="ClickEditIMG('@item.Id')" type="button" class="btn btn-dark col-3 btn-group" data-toggle="tooltip" title="Chọn file ảnh">
                                            <i class="ti-clip"></i>
                                        </button>
                                        <button type="button" class="btn btn-dark btn-group" data-toggle="tooltip" title="Xóa ảnh" onclick="DeleteImgDetail('@item.Id')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button onclick="SaveImgDetail('@item.Id')" id="@item.Id-imageSaveButton" class="btn btn-dark btn-group" style="display:none" data-toggle="tooltip" title="Lưu ảnh">
                                            <i class="ti-bookmark"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalAddImg">Thêm ảnh chi tiết</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="btnhoanthanh('@sanpham.Id')">Hoàn thành</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AddDacDiemNoiBat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm đặc điểm nổi bật</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <span>Tag:</span>
                    </div>
                    
                    <div class="col-lg-6">
                        <input class="form-control " for="val-DDNB" id="val-NameDacDiemNoiBat" value=""  placeholder="Tag đặc điểm"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <span>Đặc điểm nổi bật:</span>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control" id="val-DacDiemNoiBat" name="val-DacDiemNoiBat" value="" placeholder="Đặc điểm nổi bật">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save" data-dismiss="modal" onclick="AddDacDiemNoiBat()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalAddImg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm hình ảnh chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="col-5"><img src="/" class="img-thumbnail-small" id="Add-imgDetail"></div>
                <div style="margin-top:10px">
                    <button onclick="ClickEditIMG('Id_addImg')" type="button" class="btn btn-dark btn-group" data-toggle="tooltip" title="Chọn file ảnh">
                        <i class="ti-clip"></i>
                    </button>
                    <input type="file" id="Id_addImg" name="fileImage" style="display: none;" onchange="displaySelectedAddImg(event)" />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save" style="display:none" data-dismiss="modal" onclick="AddImgDetail(@sanpham.Id)">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script>

function AddImgDetail(Idsp){
    var formdata = new FormData();
    var fileInput = document.getElementById('Id_addImg');
    console.log(fileInput.name, fileInput.files[0])
    formdata.append(fileInput.name, fileInput.files[0]);
    formdata.append('IdSp', Idsp);
    $.ajax({

        url: '/SanPham/AddImgDetail',
        type: 'POST',
        data: formdata,
        contentType: false,
        processData: false,
        success: function(response) {
            $(".exampleModalAddImg").load(location.href + " #content_exampleModalAddImg")
            toastr.info(response, "Thông báo", {
                positionClass: "toast-top-right",
                timeOut: 5000,
                closeButton: true,
                debug: false,
                newestOnTop: true,
                progressBar: true,
                preventDuplicates: true,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: false
            });
        },
    });
}
    function btnhoanthanh(Idsp) {
    $(".AnhProduct").load(location.href + " #AnhProduct")
}
function DeleteImg(Idsp){
     console.log(Idsp)
     $.ajax({
         url: '/SanPham/DeleteImg',
         type: 'POST',
         data: {id: Number(Idsp)},
         success: function(response){
             $("#EditImg-content").load(location.href + " .modal-content");
              toastr.info( response, "Thông báo",{
                    positionClass: "toast-top-right",
                    timeOut: 5000,
                    closeButton: true,
                    debug: false,
                    newestOnTop: true,
                    progressBar: true,
                    preventDuplicates: true,
                    showDuration: "300",
                    hideDuration: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut",
                    tapToDismiss: false
              })
         }
     })
}
function DeleteImgDetail(Idsp){
     console.log(Idsp)
     $.ajax({
         url: '/SanPham/DeleteImgDetail',
         type: 'POST',
         data: {id: Number(Idsp)},
         success: function(response){
         $("#EditImg-content").load(location.href + " .modal-content");
              toastr.info( response, "Thông báo",{
                    positionClass: "toast-top-right",
                    timeOut: 5000,
                    closeButton: true,
                    debug: false,
                    newestOnTop: true,
                    progressBar: true,
                    preventDuplicates: true,
                    showDuration: "300",
                    hideDuration: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut",
                    tapToDismiss: false
              })
         }
     })
}
</script>
<script>

function ClickEditIMG(id){
    document.getElementById(id).click();
    console.log(id)
}
function displaySelectedImage(event) {
    var file = input.files[0];
    if (file) {
    var reader = new FileReader();
    reader.onload = function(e) {
        var imgElement = document.getElementById(input.id + '-img');
        imgElement.src = e.target.result;
        document.getElementById(input.id+'-imageSaveButton').style.display = 'inline-flex';
    }
    reader.readAsDataURL(file);
    }
}
function displaySelectedAddImg(event) {
    var input = event.target;
    var file = input.files[0];
    if (file) {
    var reader = new FileReader();
    reader.onload = function(e) {
        var imgElement = document.getElementById('Add-imgDetail');
        imgElement.src = e.target.result;
        document.getElementById('btn-save').style.display = 'inline-flex';
    }
    reader.readAsDataURL(file);
    }
}
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
    function ClickDanhMucPhanLoai(){
        var selectedDanhMuc = $('.val-DanhMuc').find(":selected").val();
        console.log(selectedDanhMuc);
        $('#val-PhanLoaiSanPham').empty();
        $.ajax({
            url: '/Admin/SanPham/GetPhanLoaiByDanhMuc',
            type: 'Post',
            data: { danhMucId: selectedDanhMuc },
            success: function(data) {
                console.log("Data received:", data);
            $.each(data, function(index, item) {
                $('#val-PhanLoaiSanPham').append($('<option>', {
                    value: item.id,
                    text: item.ChiTiet
                }));
            });
        },
        error: function(xhr, status, error) {
            console.error('Error fetching Phan Loai:', status, error);
            console.log('Response Text:', xhr.responseText);
        }
    });
}
function ClickSizeSp(idSize) {
    var soluong = $('.SanPhamTheoSize_' + idSize).attr('id')
    $('.FormSizeSP').removeClass('active')
    $('.SanPhamTheoSize_' + idSize).addClass('active')
    console.log(soluong)
    $('#val-SoLuongSP').val(soluong);
}

function SaveImg(inputId) {
    var formdata = new FormData();
    var fileInput = document.getElementById(inputId);
    console.log(fileInput.name, fileInput.files[0])
    formdata.append(fileInput.name, fileInput.files[0]);
    formdata.append('IdSp', document.querySelector('input[name="IdSp"]').value);
    $.ajax({
        url: '/SanPham/EditImage',
        type: 'POST',
        data: formdata,
        contentType: false,
        processData: false,
        success: function(response) {
            toastr.info(response, "Thông báo", {
                positionClass: "toast-top-right",
                timeOut: 5000,
                closeButton: true,
                debug: false,
                newestOnTop: true,
                progressBar: true,
                preventDuplicates: true,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: false
            });
        },
    });
}
function SaveImgDetail(inputId) {
    var formdata = new FormData();
    var fileInput = document.getElementById(inputId);
    formdata.append(fileInput.name, fileInput.files[0]);
    formdata.append('IdSp', inputId);
    console.log(formdata)
    $.ajax({
        url: '/SanPham/EditImageDetail',
        type: 'POST',
        data: formdata,
        contentType: false,
        processData: false,
        success: function(response) {
            toastr.info(response, "Thông báo", {
                positionClass: "toast-top-right",
                timeOut: 5000,
                closeButton: true,
                debug: false,
                newestOnTop: true,
                progressBar: true,
                preventDuplicates: true,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: false
            });
        },
    });
}
</script>
<script>
    function EditProduct(ID){
        let EditSp = []
        var IdProduct = ID
        var DMSp = $('.SelectDanhMuc').find(":selected").val();
        var PlSp = $('.SelctPhanLoai').find(":selected").val();
        var TenSanPham = $('#val-TenSanPham').val();
        var Mota = $('#val-Mota').val();
        var Size = $('.FormSizeSP.active').data('id');
        var SoLuong = $('#val-SoLuongSP').val();
        var GiaSP = $('#val-Gia').val();
        var Giamgia = $('#val-GiamGia').val();
        var TinhTrang = $('#val-TinhTrang').val();
        var Brand = $('#val-Brand').val();

        console.log(IdProduct)
        console.log(TenSanPham)
        console.log(PlSp)
        console.log(DMSp)
        console.log(Mota)
        console.log(Size)
        console.log(SoLuong)
        console.log(GiaSP)
        console.log(TinhTrang)
        console.log(Brand)
        EditSp.push({
            Id: IdProduct,
            IdDM: DMSp,
            IdLoai: PlSp,
            TenSanPham: TenSanPham,
            MotaSp: Mota,
            IdSize: Size,
            SoLuongSanPham: SoLuong,
            Gia: GiaSP,
            GiamGia: Giamgia,
            TinhTrang: TinhTrang,
            Brand: Brand});

        let EditSanPham = JSON.stringify(EditSp);
        console.log(EditSanPham)

        $.ajax({
            type: 'post',
            url: '/Admin/SanPham/EditProduct',
            data: {EditSanPham},
            success: function (response) {
            toastr.info(response.message, "Thông báo", {
                positionClass: "toast-top-right",
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1
            })
        },
        error: function (xhr, status, error) {
            toastr.error("Thất bại", "Thông báo", {
            positionClass: "toast-top-right",
            timeOut: 5e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            preventDuplicates: !0,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        })
        }
        })
    }

</script>
<script>
    function DeleteProduct(id){
    var IdProduct = id;
    console.log(IdProduct)
    $.ajax({
        type: 'post',
        url: '/Admin/SanPham/DeleteProduct',
        data: { IdProduct },
        success: function () {
            location.reload()
        },
        error: function () {
            console.log("error");
        }
    })
}
</script>
<script>
    function EditImage(id)
    {
        var IdProduct = id;
        console.log(IdProduct)
        $.ajax({
            type: 'post',
            url: '/Admin/SanPham/ImageProduct',
            data: { IdProduct },
            success: function () {
                location.reload()
            },
            error: function () {
                console.log("error");
            }
        })
    }

</script>