
@{
    Web2.Models.WebDoTreEmEntities2 Db = new Web2.Models.WebDoTreEmEntities2();
    var LstDanhMuc = Db.DanhMucSp.ToList();
    var LstPhanLoai = Db.LoaiSp.ToList();
    var model = ViewBag.listsp as List<Web2.Models.SanPham>;
}

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- row -->



    <div class="col-12" id="table__product">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Danh mục</th>
                                <th>Phân loại</th>
                                <th>Tình trạng</th>
                                <th>Giá</th>
                                <th>Giảm giá</th>
                                <td>Tương tác</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in model)
                            {
                                <tr>
                                    <td> <img style="width: 35%" src="@item.AnhSp" /></td>
                                    <td>@item.TenSanPham</td>
                                    <td>@LstDanhMuc.FirstOrDefault(x => x.id == item.IdDanhMuc).TagDM</td>
                                    <td>@LstPhanLoai.FirstOrDefault(x => x.id == item.IdLoai).ChiTiet</td>
                                    <td>@item.TinhTrang</td>
                                    <td>@string.Format("{0:C3}", item.Gia)</td>
                                    <td style="color:#ca1515">@string.Format("{0:C3}", item.Gia * item.GiamGia / 100)</td>
                                    <td>
                                        <a href="javascript:;" onclick="ClickProduct(@item.Id )" style="color: #593bdb; font-size: 22px"><i class="fa fa-exclamation-circle"></i></a>
                                        <a style="color: #7ED321; font-size: 22px"><i class="mdi mdi-file-document-box"></i></a>
                                        <a style="color: #FF1616; font-size: 22px"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Danh mục</th>
                                <th>Phân loại</th>
                                <th>Tình trạng</th>
                                <th>Giá</th>
                                <th>Giảm giá</th>
                                <td>Tương tác</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
