@{
    Web2.Models.WebDoTreEmEntities2 Db = new Web2.Models.WebDoTreEmEntities2();
    var LstDanhMuc = Db.DanhMucSp.ToList();
    var LstPhanLoai = Db.LoaiSp.ToList();
    var model = ViewBag.listsp as List<Web2.Models.SanPham>;
}

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card-body" >
    <div class="table-responsive" id="table-responsive" >
        <table id="example" class="display example_table" style="min-width: 845px">
            <thead>
                <tr>
                    <th style="min-width: 22%;">Tên sản phẩm</th>
                    <th style="min-width: 22%;">Hình ảnh</th>
                    <th style="min-width: 10%;">Mã SP</th>
                    <th style="min-width: 8%;">Màu sắc</th>
                    <th style="min-width: 10%;">Tình trạng</th>
                    <th style="min-width: 10%;">Giá</th>
                    <th style="min-width: 8%;">Giảm giá</th>
                    <th style="min-width: 10%;">Chức năng</th>
                </tr>
            </thead>
            <tbody id="tableproduct">
                @foreach (var item in model)
                {
                    <tr>
                        <td>@item.TenSanPham</td>
                        <td id="td1"><div style="width:160px"><img src="@item.AnhSp" id="@item.Id" style="width:95%" /></div></td>
                        <td>@item.Masp</td>
                        <td>@item.MauSP</td>
                        <td>@item.TinhTrang</td>
                        <td>@string.Format("{0:C3}", item.Gia)</td>
                        <td style="color:#ca1515">@item.GiamGia %</td>
                        <td>
                            <div style="margin: auto;">
                                <a href="javascript:;" onclick="ClickProduct(@item.Id)" style="color: #593bdb; font-size: 22px"><i class="fa fa-exclamation-circle"></i></a>
                                <a style="color: #7ED321; font-size: 22px" href="javascript:;" onclick="ClickEdit(@item.Id)"><i class="mdi mdi-file-document-box"></i></a>
                                <a style="color: #FF1616; font-size: 22px" href="javascript:;" onclick="DeleteProduct(@item.Id)"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            <tfoot>
                <tr>
                    <th style="min-width: 22%;">Tên sản phẩm</th>
                    <th style="min-width: 22%;">Hình ảnh</th>
                    <th style="min-width: 10%;">Mã SP</th>
                    <th style="min-width: 8%;">Màu sắc</th>
                    <th style="min-width: 10%;">Tình trạng</th>
                    <th style="min-width: 10%;">Giá</th>
                    <th style="min-width: 8%;">Giảm giá</th>
                    <th style="min-width: 10%;">Chức năng</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    function ClickEdit(Idsp)
    {
        $.ajax({
            type: 'post',
            url: '/Admin/SanPham/fEditProduct',
            data: { IdProduct:Number(Idsp) },
            success: function (html) {
                $('#GridViewProduct').html(html);
            },
            error: function () {
                console.log("error");
            }
        })
    }
    function DeleteProduct(id){
    var IdProduct = id;
    console.log(IdProduct)
    $.ajax({
        type: 'post',
        url: '/Admin/SanPham/DeleteProduct',
        data: { IdProduct },
        success: function (response) {
                toastr.info(response, "Thông báo", {
                positionClass: "toast-top-right",
                timeOut: 5000,
                closeButton: true,
                debug: false,
                newestOnTop: true,
                progressBar: true,
                preventDuplicates: true,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: false
            })
        }
    })
}
</script>