@{
    var lstSanPham = ViewBag.LstSanPham as List<Web2.Models.SanPham>; // Ép kiểu ViewBag.LstSanPham sang kiểu List<SanPham>
    var lstSanPhamFilter = ViewBag.LstSanPhamFilter as List<Web2.Models.SanPham>; // Ép kiểu ViewBag.LstSanPham sang kiểu List<SanPham>
    var paginationModel = new Web2.AppData.PaginationPLSPViewModel
    {
        IdPLoai = ViewBag.IdPLoai,
        IdDM = ViewBag.IdDM,
        PageNumber = ViewBag.PageNumber,
        NumberRecords = ViewBag.NumberRecords,
        ControllerName = "TrangChu", // Thay đổi tên Controller tùy theo trang
        ActionName = "PhanLoaiSp" // Thay đổi tên Action tùy theo trang
        
    };
}
<script src="/Assest/User/js/jquery.min.js"></script>
<div class=" row">
    @if (lstSanPham != null)
    {
        foreach (var sanpham in lstSanPham)
        {
            <div class="col-lg-4 col-md-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="@sanpham.AnhSp" href="javascript:;" onclick="Clicksp(@sanpham.Id)">
                        @*<img src="@sanpham.AnhSp" alt="Alternate Text" />*@
                        @*<div class="label new">New</div>*@
                        
                    </div>
                    <div class="product__item__text">
                        <h6><a href="javascript:;" onclick="Clicksp(@sanpham.Id)">@sanpham.TenSanPham</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">@(string.Format("{0:C3}", sanpham.Gia))</div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>Shop đã hết mặt hàng này!!!</div>
    }
        @Html.Partial("_Pagination_PLSP", paginationModel)
</div>

<script src="/Assest/User/js/bootstrap.min.js"></script>
<script src="/Assest/User/js/jquery.magnific-popup.min.js"></script>
<script src="/Assest/User/js/jquery-ui.min.js"></script>
<script src="/Assest/User/js/mixitup.min.js"></script>
<script src="/Assest/User/js/jquery.countdown.min.js"></script>
<script src="/Assest/User/js/jquery.slicknav.js"></script>
<script src="/Assest/User/js/owl.carousel.min.js"></script>
<script src="/Assest/User/js/jquery.nicescroll.min.js"></script>
<script src="/Assest/User/js/main.js"></script>
