@{
    Web2.Models.WebDoTreEmEntities2 Db = new Web2.Models.WebDoTreEmEntities2();
    int Idsp = ViewBag.IdProduct;
    var sanpham = Db.SanPham.FirstOrDefault(sp => sp.Id == Idsp);
    var HinhAnhCT = Db.HinhAnhChiTietSp.Where(ha => ha.IdSanPham == sanpham.Id).ToList();
    var SizeSp = Db.SpBySize.Where(sp => sp.idsp == sanpham.Id).ToList();
    Web2.Models.SpBySize SizeSpFirt = SizeSp.FirstOrDefault() != null ? SizeSp.FirstOrDefault() : null;
    var LstDanhMuc = Db.DanhMucSp.ToList();
    var LstPhanLoaiSP = Db.LoaiSp.ToList();
    var IdDanhMuc = sanpham.IdDanhMuc;
}



<style>
    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .img-thumbnail-nice-scroll {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .nice-scroll {
        height: 303px;
        overflow: scroll;
        margin-top: calc(0.375rem + 1px);
    }

    .form_control-SizeSp {
        width: 52px;
        display: block;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        margin: 0.15rem 0.25rem;
        font-size: 0.975rem;
        font-weight: 450;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #eaeaea;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        position: relative;
        overflow: hidden;
    }

    .form_control {
        width: 100%;
        display: block;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        margin: 0.15rem 0.25rem;
        font-size: 0.975rem;
        font-weight: 450;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        position: relative;
        overflow: hidden;
    }


    .form_control-SizeSp:hover, .form_control-SizeSp:focus, .form_control-SizeSp.active {
        box-shadow: none;
        background: #fff;
        color: #ff5050;
        position: relative;
        border: 1px solid #8d9196;
    }

    .form_control_SizeSp::after {
        content: "";
        position: absolute;
        top: 0;
        left: 8px;
        width: 200%;
        height: 200%;
        border: 1px solid transparent;
    }

    .form_control-SizeSp::after {
        border-bottom: 1px solid #8d9196;
        border-left: 1px solid #8d9196;
        transform: rotate(145deg);
        transform-origin: center;
    }

    .form_control-SizeSp.hide-after::after {
        content: none; /* This will hide the ::after pseudo-element */
    }
</style>
<div class="card-body">
    <div class="form-validation">
        <form class="form-valide" action="#" method="post">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group row form-group-img">
                        <label class="col-lg-5 col-form-label" for="val-img">
                            <img src="@sanpham.AnhSp" class="img-thumbnail">
                        </label>
                        <div class="col-lg-3 nice-scroll">
                            @foreach (var item in HinhAnhCT)
                            {
                                <img src="@sanpham.AnhSp" class="img-thumbnail-nice-scroll">
                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-TenSanPham">
                            Tên sản phẩm:
                        </label>
                        <div class="col-lg-6">
                            <span class="form_control" id="val-TenSanPham" name="val-TenSanPham">@sanpham.TenSanPham</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-PLoai">
                            Danh mục:
                        </label>
                        <div class="col-lg-6">
                            <span class="form_control" id="val-PLoai" name="val-PLoai">@Db.DanhMucSp.FirstOrDefault(x => x.id == sanpham.IdDanhMuc).TagDM</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-DMucSanPham">
                            Phân loại:
                        </label>
                        <div class="col-lg-6">
                            <span class="form_control" id="val-DMucSanPham" name="val-DMucSanPham">@Db.LoaiSp.FirstOrDefault(x => x.id == sanpham.IdLoai).ChiTiet</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-Mota">
                            Mô tả:
                        </label>
                        <div class="col-lg-6">
                            <textarea rows="5" class="form-control" id="val-Mota" name="val-Mota">@sanpham.MotaSp</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-SizeSp">
                            Size:
                        </label>
                        <div class="col-lg-6 row">
                            <div class="row" style="margin-left: 10px;">
                                @foreach (var item in SizeSp)
                                {
                                    <div class=" form_control-SizeSp FormSizeSP @(item.soluong == 0 ? "" : "hide-after") SanPhamTheoSize_@item.soluong" data-id="@item.id" href="javascript:;" onclick="ClickSizeSp(@item.soluong)">
                                        @Db.Size.FirstOrDefault(s => s.id == item.idsize).TagSize
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-SoLuongSP">
                            Số lượng:
                        </label>
                        <div class="col-lg-6">
                            <span class="form_control" style="width: 52px;" id="val-SoLuongSP" name="val-SoLuongSP"> </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-MauSP">
                            Màu:
                        </label>
                        <div class="col-lg-6 ">
                            <div class="row" style="padding-left: 10px;">
                                <div class=" form_control-SizeSp hide-after">
                                    <span id="val-MauSp" name="val-MauSp">@sanpham.MauSP </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-Gia">
                            Giá:
                        </label>
                        <div class="col-lg-6">
                            <span class="form_control" id="val-Gia" name="val-Gia">@string.Format("{0:C3}", sanpham.Gia) </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-GiamGia">
                            Giảm giá:
                        </label>
                        <div class="col-lg-6">
                            <span class="form_control" id="val-GiamGia" name="val-GiamGia">@sanpham.GiamGia % </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-TinhTrang">
                            Tình trạng:
                        </label>
                        <div class="col-lg-6">
                            <span class="form_control" id="val-TinhTrang" name="val-TinhTrang">@sanpham.TinhTrang </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-Brand">
                            Brand:
                        </label>
                        <div class="col-lg-6">
                            <span class="form_control" id="val-Brand" name="val-Brand">@sanpham.Brand </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-DdNb">
                            Đặc điểm nổi bật:
                        </label>
                    </div>
                    @foreach (var item in Db.DacDiemSP.Where(x => x.MaSp == sanpham.Masp))
                    {
                        <div class="form-group row">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-3 col-form-label" for="val-DDNB">
                                @item.NameDacDiem
                            </label>
                            <div class="col-lg-6">
                                <span class="form_control" id="val-DDNB" name="val-DDNB">@item.DacDiemSanPham </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8 ml-auto" style="padding-left: 28px;">
                    <button type="button" href="javascript:;" onclick="ClickEdit(@sanpham.Id)" class="btn btn-success" style="width: 95px;">Chỉnh sửa</button>
                    <button type="button" href="javascript:;" onclick="DeleteProduct(@sanpham.Id)" class="btn btn-danger" style="width: 95px;">Xóa</button>
                    <button type="button" href="javascript:;" onclick="Database()" class="btn btn-primary" style="width: 95px;">Trở lại</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
        function ClickEdit(Idsp)
    {
        $.ajax({
            type: 'post',
            url: '/Admin/SanPham/fEditProduct',
            data: { IdProduct:Number(Idsp) },
            success: function (html) {
                $('#GridViewProduct').html(html);
            },
            error: function () {
                console.log("error");
            }
        })
    }

    $(document).ready(function(){
    const soLuong = '@(SizeSp?.FirstOrDefault()?.soluong)'
        $("#val-SoLuongSP").text(soLuong);
    })

</script>