@model IEnumerable<Web2.Models.SanPham>

@{
    ViewBag.Title = "TrangPhanLoai";
    Layout = "~/Areas/User/Views/Shared/LayoutPageSanPham.cshtml";
    Web2.Models.WebDoTreEmEntities2 DB = new Web2.Models.WebDoTreEmEntities2();
    var DM = DB.DanhMucSp.ToList();
    var PLoai = DB.LoaiSp.ToList();
    var LstSize = DB.Size.ToList();
    var SanPhamS = DB.SanPham.ToList();
    var lstSanPham = ViewBag.LstSanPhamFilter as List<Web2.Models.SanPham>; // Ép kiểu ViewBag.LstSanPham sang kiểu List<SanPham
    var IdDMSpFilter = Web2.AppData.IdDM_IdPL.IdDMSP;
    var IdPLSpFilter = Web2.AppData.IdDM_IdPL.IdDMSP;


    var paginationModel = new Web2.AppData.PaginationPLSPViewModel
    {
        PageNumber = ViewBag.PageNumber,
        NumberRecords = ViewBag.NumberRecords,
        IdPLoai = ViewBag.IdLoaiSP,
        IdDM = ViewBag.IdDanhMuc,
        ControllerName = "TrangChu", // Thay đổi tên Controller tùy theo trang
        ActionName = "TrangSPTheoPLoai" // Thay đổi tên Action tùy theo trang
    };
}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Assest/User/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/style.css" type="text/css">
</head>
<!-- Breadcrumb Begin -->
<!-- Breadcrumb End -->
<!-- Shop Section Begin -->
@*<div class="col-lg-3 col-md-3">
        <div class="shop__sidebar">
            <div class="sidebar__categories">
                <div class="section-title">
                    <h4>Categories</h4>
                </div>
                <div class="categories__accordion">

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <a style="color: black;" class="a_action_mouse AllSp" href="javascript:;" onclick="Click_PaginationSpTheoLoaiSp(0 , 0, 1)">ALL</a>
                        </div>
                        @foreach (var danhmucsp in DM)
                        {
                            <div class="card">
                                <div class=" @(danhmucsp.id == ViewBag.IdDanhMuc ? "active" : "")  @(PLoai.Where(m => m.IdDM == danhmucsp.id).FirstOrDefault() != null ? "card-heading" : "card-heading-two" )">
                                    <a class="a_action_mouse" data-toggle="collapse" data-target="#collapse-@danhmucsp.id" href="javascript:;" onclick="Click_PaginationSpTheoLoaiSp(@danhmucsp.id  , 0 , 1 )">@danhmucsp.TagDM</a>
                                </div>
                                <div id="collapse-@danhmucsp.id" class=" collapse @(danhmucsp.id == ViewBag.IdDanhMuc ? "show" : "" )" data-parent="#accordionExample">
                                    @{ if (PLoai.Where(m => m.IdDM == danhmucsp.id).FirstOrDefault() != null)
                                        {
                                            <div class="card-body">
                                                <ul>
                                                    @foreach (var phanloaisp in PLoai.Where(m => m.IdDM == danhmucsp.id))
                                                    {
                                                        <li><a class="a_action_mouse" href="javascript:;" onclick="Click_PaginationSpTheoLoaiSp(@danhmucsp.id, @phanloaisp.id , 1 )">@phanloaisp.ChiTiet</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar__filter">
                    <div class="section-title">
                        <h4>Shop by price</h4>
                    </div>
                    <div class="filter-range-wrap">
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                             data-min="33" data-max="99"></div>
                        <div class="range-slider">
                            <div class="price-input">
                                <p>Giá sản phẩm:</p>
                                <input type="text" id="minamount">
                                <input type="text" id="maxamount">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_sizes">
                <div class="section-title">
                    <h4>Shop by size</h4>
                </div>
                <div class="size_list">
                    @foreach (var Size in LstSize)
                    {
                        <label for="@Size.id" onclick="ChangeInput()">
                            @Size.TagSize
                            <input type="checkbox" class="size_sanPham" id="@Size.id" value="@Size.id">
                            <span class="checkmark"></span>
                        </label>
                    }
                </div>
            </div>
            <div class="sidebar__filter"><a>Filter</a></div>
        </div>
    </div>*@
<div id="GridView">
    <div class="col-lg-12 col-md-12 row" >
            @if (lstSanPham != null)
            {
                foreach (var sanpham in lstSanPham)
                {
                    <div class="col-lg-4 col-md-6" id="@sanpham.Id">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="@sanpham.AnhSp" href="javascript:;" onclick="Clicksp(@sanpham.Id)" >
                                <div class="label new">New</div>
                                @*<ul class="product__hover">
                                    <li><a href="@sanpham.AnhSp" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#" onclick="Clicksp()"><span class="icon_bag_alt"></span></a></li>
                                </ul>*@
                            </div>
                            <div class="product__item__text">
                                <h6><a href="javascript:;" onclick="Clicksp(@sanpham.Id)">@sanpham.TenSanPham</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">@(string.Format("{0:C3}", sanpham.Gia))</div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div>
                    <div>Shop đã hết mặt hàng này!!!</div>

                </div>
            }
            @Html.Partial("_Pagination_PLSP", paginationModel)
    </div>
</div>
<script>
    function ClicK_ChonSP(TenSanPham) {

    }
</script>
<script src="/Assest/User/js/jquery.min.js"></script>
<script src="/Assest/User/js/bootstrap.min.js"></script>
<script src="/Assest/User/js/jquery.magnific-popup.min.js"></script>
<script src="/Assest/User/js/jquery-ui.min.js"></script>
<script src="/Assest/User/js/mixitup.min.js"></script>
<script src="/Assest/User/js/jquery.countdown.min.js"></script>
<script src="/Assest/User/js/jquery.slicknav.js"></script>
<script src="/Assest/User/js/owl.carousel.min.js"></script>
<script src="/Assest/User/js/jquery.nicescroll.min.js"></script>
<script src="/Assest/User/js/main.js"></script>
