@model IEnumerable<Web2.Models.SanPham>

@{
    ViewBag.Title = "TrangPhanLoai";
    Layout = "~/Areas/User/Views/Shared/LayoutPageSanPham.cshtml";
    Web2.Models.WebDoTreEmEntities2 DB = new Web2.Models.WebDoTreEmEntities2();
    var DM = DB.DanhMucSp.ToList();
    var PLoai = DB.LoaiSp.ToList();
    var SizeSP = DB.Size.ToList();
    var SanPhamS = DB.SanPham.ToList();
    var lstSanPham = ViewBag.LstSanPham as List<Web2.Models.SanPham>; // Ép kiểu ViewBag.LstSanPham sang kiểu List<SanPham>

    var paginationModel = new Web2.AppData.PaginationPLSPViewModel
    {
        PageNumber = ViewBag.PageNumber,
        NumberRecords = ViewBag.NumberRecords,
        IdDM = ViewBag.id,
        ControllerName = "TrangChu", // Thay đổi tên Controller tùy theo trang
        ActionName = "TrangSPTheoPLoai" // Thay đổi tên Action tùy theo trang
    };

}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/User/TrangChu/TrangChu"><i class="fa fa-home"></i> Home</a>
                    <a href=""><i class="fa "></i> @( ViewBag.IdDanhMuc != 0 ? DM.Where(m => m.id == ViewBag.IdDanhMuc).FirstOrDefault(m => m.id == ViewBag.IdDanhMuc).ChiTiet : "All" )  </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div id="GridView">
            <div class="col-12 row" >
                @if (ViewBag.IdDanhMuc != 0)
                {
                    if (lstSanPham.Count != 0)
                    {
                        foreach (var sanpham in lstSanPham)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@sanpham.AnhSp" href="javascript:;" onclick="Clicksp(@sanpham.Id)">
                                        <div class="label new">New</div>
                                        @*<ul class="product__hover">
                                            <li><a href="@sanpham.AnhSp" class="image-popup"><span class="arrow_expand"></span></a></li>
                                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                        </ul>*@
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="javascript:;" onclick="Clicksp(@sanpham.Id)">@sanpham.TenSanPham</a></h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product__price">@(string.Format("{0:C3}", sanpham.Gia))</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>Shop đã hết mặt hàng này!!!</div>
                    }
                }
                else
                {
                    foreach (var sanpham in lstSanPham)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@sanpham.AnhSp">
                                    <div class="label new">New</div>
                                    <ul class="product__hover">
                                        <li><a href="@sanpham.AnhSp" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#" onclick="Clicksp(@sanpham.Id)" >@sanpham.TenSanPham</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">@(string.Format("{0:C3}", sanpham.Gia))</div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @Html.Partial("_Pagination_PLSP", paginationModel)
            </div>
        </div>
    </div>
</section>

<!-- Shop Section End -->
