@{
    Web2.Models.WebDoTreEmEntities2 db = new Web2.Models.WebDoTreEmEntities2();
    var LoaiSP = db.LoaiSp.ToList();
    var DanhMucSp = db.DanhMucSp.ToList();
    var sanpham = db.SanPham.ToList();
}
<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Assest/User/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/style.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/customize.css" type="text/css">
    <script src="/Assest/User/js/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
    <style>
        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 4px;
            margin: 0 0 2px 8px;
        }

        .custom-link {
            color: black;
        }
    </style>
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
                <a href="#">
                    <span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Đăng Nhập</a>
            <a href="#">Đăng Ký</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-1">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <nav class="header__menu">
                        <ul>
                            <li class="@( ViewBag.IdDanhMuc != null ? "" : "active")"><a href="/User/TrangChu/TrangChu">Trang chủ</a></li>
                            @{
                                foreach (var danhmucsp in DanhMucSp)
                                {
                                    <li class="@(danhmucsp.id == ViewBag.IdDanhMuc ? "active" : "")">
                                        @{ if (LoaiSP.Where(m => m.IdDM == danhmucsp.id).FirstOrDefault() != null)
                                            {
                                                <div header__menu="" style="flex-direction:row;display:flex">
                                                    <div>
                                                        @Html.ActionLink(danhmucsp.TagDM, "TrangSPTheoDM", new { id = danhmucsp.id })
                                                    </div>
                                                    <div>
                                                        <i class="arrow down"></i>
                                                    </div>
                                                </div>
                                                <div class=" col-sm-12 dropdown">
                                                    <ul>
                                                        @foreach (var LoaiSanPham in LoaiSP.Where(m => m.IdDM == danhmucsp.id))
                                                        {
                                                            <li>@Html.ActionLink(LoaiSanPham.ChiTiet, "TrangSPTheoPLoai", new { id = LoaiSanPham.id })</li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            {
                                                <div header__menu style="flex-direction:row;display:flex">
                                                    <div>
                                                        @Html.ActionLink(danhmucsp.TagDM, "TrangSPTheoDM", new { id = danhmucsp.id })
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </li>

                                }
                            }

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <div style="margin-right: 60px">
                            <ul class="header__right__widget">
                                <li><span class="icon_search search-switch"></span></li>
                                <li>
                                    <a href="#">
                                        <span class="icon_heart_alt"></span>
                                        <div class="tip">2</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon_bag_alt"></span>
                                        <div class="tip">2</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__right__auth">
                            <a href="#">Đăng Nhập</a>
                            <a href="#">Đăng Ký</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                         data-setbg="img/categories/category-1.jpg">
                        <div class="categories__text">
                            <h1>Women’s fashion</h1>
                            <p>
                                Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                edolore magna aliquapendisse ultrices gravida.
                            </p>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                                <div class="categories__text">
                                    <h4>Men’s fashion</h4>
                                    <p>358 items</p>
                                    <a href="#">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="img/categories/category-3.jpg">
                                <div class="categories__text">
                                    <h4>Kid’s fashion</h4>
                                    <p>273 items</p>
                                    <a href="#">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="img/categories/category-4.jpg">
                                <div class="categories__text">
                                    <h4>Cosmetics</h4>
                                    <p>159 items</p>
                                    <a href="#">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="img/categories/category-5.jpg">
                                <div class="categories__text">
                                    <h4>Accessories</h4>
                                    <p>792 items</p>
                                    <a href="#">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <div>
        @RenderBody()
    </div>

    <!-- Banner Section Begin -->
    <!--<section class="banner set-bg" data-setbg="img/banner/banner-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Chloe Collection</span>
                                <h1>The Project Jacket</h1>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Chloe Collection</span>
                                <h1>The Project Jacket</h1>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Chloe Collection</span>
                                <h1>The Project Jacket</h1>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Banner Section End -->
    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-car"></i>
                        <h6>Free Ship</h6>
                        <p>Nội thành Hà Nội với đơn háng trên 200.000VND</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-money"></i>
                        <h6>Đảm bảo hoàn tiền</h6>
                        <p>Hoàn tiền nếu sản phầm có vấn đề</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-support"></i>
                        <h6>Hỗ trợ trực tuyến 24/7</h6>
                        <p>Hỗ trợ chuyên dụng</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-headphones"></i>
                        <h6>Thanh toán an toàn</h6>
                        <p>Thanh toán an toàn 100%</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.
                        </p>
                        <div class="footer__payment">
                            <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    
    <script>
        $(document).ready(function () {

        })

        function Click_PaginationSpTheoLoaiSp(idDM, idPloai, position) {
            $.ajax({
                type: 'post',
                url: '/User/TrangChu/PhanLoaiSp',
                data: { idDM, idPloai, position },
                success: function (html) {
                    console.log(html)
                    $('#GridView').html(html);
                },
                error: function () {
                    console.log("error");
                }
            });
        }

        //function Click_DMSP(id) {
        //    $.ajax({
        //        type: 'post',
        //        url: '/User/TrangChu/TrangPL',
        //        data: { id },
        //        success: function (html) {
        //            console.log(html)
        //            $('#GridView').html(html);
        //        },
        //        error: function () {
        //            console.log("error");
        //        }
        //    });
        //}
    </script>
    <script src="/Assest/User/js/customize.js"></script>
    <script src="/Assest/User/js/bootstrap.min.js"></script>
    <script src="/Assest/User/js/jquery.magnific-popup.min.js"></script>
    <script src="/Assest/User/js/jquery-ui.min.js"></script>
    <script src="/Assest/User/js/mixitup.min.js"></script>
    <script src="/Assest/User/js/jquery.countdown.min.js"></script>
    <script src="/Assest/User/js/jquery.slicknav.js"></script>
    <script src="/Assest/User/js/owl.carousel.min.js"></script>
    <script src="/Assest/User/js/jquery.nicescroll.min.js"></script>
    <script src="/Assest/User/js/main.js"></script>
</body>
</html>
