@{
    Web2.Models.WebDoTreEmEntities2 db = new Web2.Models.WebDoTreEmEntities2();
    var LoaiSP = db.LoaiSp.ToList();
    var DanhMucSp = db.DanhMucSp.ToList();
    var sanpham = db.SanPham.ToList();
    var LstSize = db.Size.ToList();
    var Cart = Session["CartSession"] as List<Web2.AppData.CartItem>;
    int totalItems = Cart != null ? Cart.Sum(item => item.SoLuong) : 0;
    var paginationModel = new Web2.AppData.PaginationViewModel();
    var sizes = db.Size.ToList();
    var listcart = (List<Web2.AppData.CartItem>)Cart;
}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Assest/User/css/bootstrap1.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/style.css" type="text/css">
    <link rel="stylesheet" href="/Assest/User/css/customize.css" type="text/css">

    <link rel="stylesheet" href="/Assest/User/css/new.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="/Assest/User/js/jquery.min.js"></script>

    <title>@ViewBag.Title</title>
    <style>
        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 4px;
            margin: 0 0 2px 8px;
        }

        .custom-link {
            color: black;
        }

        .color__SanPhamCheckBoxP {
            margin-top: 25px;
            position: relative;
        }

            .color__SanPhamCheckBoxP .MauSP_Option {
                width: 48px !important;
                height: 64px !important;
                margin: 15px 0 0;
            }

        .a_action_mouse .active {
            border: 1px solid #474747;
        }

        .product__detail {
            margin-top: 8px;
        }
    </style>

</head>

<body>
    <div id="toast"></div>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
                <a href="#">
                    <span class="icon_heart_alt"></span>
                    <div class="tip"></div>
                </a>
            </li>
            <li>
                <a class="Cart_mini_item" href="#">
                    <span class="icon_bag_alt"></span>
                    <div class="tip tip_Carts">@totalItems</div>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-1">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <nav class="header__menu">
                        <ul>
                            <li class="@( ViewBag.IdDanhMuc != null ? "" : "active")"><a href="/User/TrangChu/TrangChu">Trang chủ</a></li>
                            @{
                                foreach (var danhmucsp in DanhMucSp)
                                {
                                    <li class="@(danhmucsp.id == ViewBag.IdDanhMuc ? "active" : "")">
                                        @{ if (LoaiSP.Where(m => m.IdDM == danhmucsp.id).FirstOrDefault() != null)
                                            {
                                                <div header__menu="" style="flex-direction:row;display:flex">
                                                    <div>
                                                        <a href="#" class="trangsptheodm" onclick="ClickTrangSanPhamTheoDM(@danhmucsp.id)" data-id="@danhmucsp.id">@danhmucsp.TagDM</a>
                                                        @*@Html.ActionLink(danhmucsp.TagDM, "TrangSPTheoDM", new { id = danhmucsp.id })*@
                                                    </div>
                                                    <div>
                                                        <i class="arrow down"></i>
                                                    </div>
                                                </div>
                                                <div class=" col-sm-12 dropdown">
                                                    <ul>
                                                        @foreach (var LoaiSanPham in LoaiSP.Where(m => m.IdDM == danhmucsp.id))
                                                        {
                                                            <li><a href="#" class="trangsptheopl" onclick="ClickTrangSanPhamTheoPL(@LoaiSanPham.id)" data-id="@LoaiSanPham.id">@LoaiSanPham.ChiTiet</a></li>
                                                            @*<li>@Html.ActionLink(LoaiSanPham.ChiTiet, "TrangSPTheoPLoai", new { id = LoaiSanPham.id })</li>*@
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            {
                                                <div header__menu style="flex-direction:row;display:flex">
                                                    <div>
                                                        <a href="#" class="trangsptheodm" data-id="@danhmucsp.id" onclick="ClickTrangSanPhamTheoDM(@danhmucsp.id)">@danhmucsp.TagDM</a>
                                                        @*@Html.ActionLink(danhmucsp.TagDM, "TrangSPTheoDM", new { id = danhmucsp.id })*@
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </li>

                                }
                            }
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <div style="margin-right: 60px">
                            <ul class="header__right__widget">
                                <li><span class="icon_search search-switch"></span></li>
                                <li>
                                    <a href="#">
                                        <span class="icon_heart_alt"></span>
                                        <div class="tip"></div>
                                    </a>
                                </li>
                                <li>
                                    <a class="Cart_mini_item" href="#">
                                        <span class="icon_bag_alt"></span>
                                        <div class="tip tip_Carts">@totalItems</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__right__auth">
                            <a href="#">Đăng Nhập</a>
                            <a href="#">Đăng Ký</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/User/TrangChu/TrangChu"><i class="fa fa-home"></i> Home</a>
                        <a href=""><i class="fa "></i>  @(LoaiSP.Where(m => m.id == ViewBag.IdLoaiSP).FirstOrDefault() != null ? DanhMucSp.Where(m => m.id == ViewBag.IdDanhMuc).FirstOrDefault().ChiTiet : "All" ) </a>
                        <a href=""><i class=" "></i> @(LoaiSP.Where(m => m.id == ViewBag.IdLoaiSP).FirstOrDefault() != null ? LoaiSP.Where(m => m.id == ViewBag.IdLoaiSP).FirstOrDefault().ChiTiet : "" ) </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="product-details spad">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!-- Product Details Section Begin -->
    <!--<section class="product-details spad">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="related__title">
                            <h5>RELATED PRODUCTS</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-1.jpg">
                                <div class="label new">New</div>
                                <ul class="product__hover">
                                    <li><a href="img/product/related/rp-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Buttons tweed blazer</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-2.jpg">
                                <ul class="product__hover">
                                    <li><a href="img/product/related/rp-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Flowy striped skirt</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 49.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-3.jpg">
                                <div class="label stockout">out of stock</div>
                                <ul class="product__hover">
                                    <li><a href="img/product/related/rp-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Cotton T-Shirt</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-4.jpg">
                                <ul class="product__hover">
                                    <li><a href="img/product/related/rp-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">Slim striped pocket shirt</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
    <!-- Product Details Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.
                        </p>
                        <div class="footer__payment">
                            <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>

    <div class="bs-canvas bs-canvas-right position-fixed bg-light h-100">
        <div class="header__Canvas__Cartmini">
            <header class="bs-canvas-header p-4 overflow-auto header__Canvas__Cartmini">
                <a href="/User/GioHang/GioHang" style="color:black; padding-top:2px">
                    <span class="icon_bag_alt icon__MiniCart float-left"> </span>
                    <h6 class="d-inline-block float-left text__MiniCart">Giỏ hàng</h6>
                </a>
                <button type="button" class="bs-canvas-close float-right close" aria-label="Close"><span aria-hidden="true" class="" style="font-size:32px">&times;</span></button>
            </header>
        </div>
        @if (listcart != null)
        {
            foreach (var item in listcart)
            {
                <div class="bs-canvas-content shop__cart__mini__table table__cavas row">
                    <img class=" img_canvas" src="@item.SanPham.AnhSp" alt="">
                    <div class="item_MiniCart">
                        <div class="">
                            <h6>@item.SanPham.TenSanPham</h6>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <span class="MauSpham__Cartmini">
                                    Màu: @item.SanPham.MauSP
                                </span>
                            </div>
                            <div class="col-6">
                                <span class="Size__Cartmini">
                                    SIZE: @sizes.Find(x => x.id == item.SanPham.Size).TagSize
                                </span>
                            </div>
                        </div>
                        <div class="cart__quantity">
                            <div class="pro-qty SoLuongProduct SoLuongProduct_Cart_mini">
                                <input type="text" data-id="@item.SanPham.Id" value="@item.SoLuong">
                            </div>
                        </div>
                        <div class="cart__price">@string.Format("{0:C3}", item.DonGia)</div>
                    </div>

                    <div class="cart__close " style="font-size:19px"><span class="icon_close"></span></div>
                </div>
            }
        }
        else
        {
            <div class=" col-12">
                <h6>Bạn chưa mua sản phẩm nào</h6>
            </div>
        }
    </div>

    <script>
        var idDm = 0;
        var idPhanLoai = 0;


        function ClickTrangSanPhamTheoDM(idDanhMuc) {
            location.href = "/User/TrangChu/TrangSPTheoDM?idDanhMuc=" + idDanhMuc;
            idDm = idDanhMuc;
            console.log(idDm)
        }
        function ClickTrangSanPhamTheoPL(idPhanloai) {
            idDanhMuc = getQueryParams().idDanhMuc;
            location.href = "/User/TrangChu/TrangSPTheoPLoai?idPhanLoai=" + idPhanloai + "&idDanhMuc=" + idDanhMuc;
            idPhanLoai = idPhanloai;
            console.log(idPhanLoai)
        }

        function Click_PaginationSpTheoLoaiSp(idDM, idPloai, position) {
            idDm = idDM;
            idPhanLoai = idPloai;
            $.ajax({
                type: 'post',
                url: '/User/TrangChu/PhanLoaiSp',
                data: { idDM, idPloai, page: Number(position) },
                success: function (html) {
                    console.log(html)
                    $('#GridView').html(html);
                },
                error: function () {
                    console.log("error");
                }
            });
        }


        function ChangeInput() {
            let lstSize = [];
            $("input.size_sanPham:checked").each(function (item) {
                lstSize.push($(this).val());
            })
            console.log(lstSize)
            //console.log(idPhanLoai)
            console.log(getQueryParams().idDanhMuc)
            console.log(getQueryParams().idPhanLoai)
            idDm = getQueryParams().idDanhMuc
            idPhanLoai = getQueryParams().idPhanLoai
            $.ajax({
                url: '/User/PhanLoaiSp/FilterProduct',
                type: 'POST',
                data: { lstSize, idDM: Number(idDm), idPloai: Number(idPhanLoai), page: Number(1) },
                success: function (data) {
                    console.log(data)
                    $('#GridView').html(data)
                },
                error: function () {
                    console.log('error')
                }
            })
        }

        function Click_Filter() {
            console.log(lstSize)

        }
    </script>
    <script>
    function ClickSptheoMau(id) {
        var Idsp = id
        console.log(id)
        $.ajax({
            url: '/User/ChiTietSanPham/SPChiTietTheoMau',
            type: 'POST',
            data: { Idsp: Number(Idsp) },
            success: function (data) {
                console.log(data)
                $('#GridView_ProductDetail').html(data)
            },
            error: function () {
                console.log('error')
            }
        })
    }
    function toggleSize(checkbox) {
        document.querySelectorAll('.Selected_Size input[type="checkbox"]').forEach(function (cb) {
            if (cb !== checkbox) {
                cb.checked = false;
            }
        });
    }
    function updateCartCount(newCount) {
        $('.tip_Carts').text(newCount);
    }

    function AddProducttoCart() {
        idsp = $('.Selected_Size input:checked').val();
        var SoLuong = parseInt($('.SoLuongProDuct').val());
        var TotalItemsUpdate = @totalItems + SoLuong;
        console.log(TotalItemsUpdate)
        console.log(SoLuong)
        console.log(idsp)
        if (idsp==null) {
            $('#error-message').text('Vui lòng chọn kích thước sản phẩm.');
            return;
        }
        $.ajax({
            url: '/User/GioHang/AddDonHang',
            type: 'POST',
            data: { Idsp: Number(idsp), SoluongProduct: Number(SoLuong) },
            success: function (data) {
                updateCartCount(TotalItemsUpdate)
                console.log(data);
                $("#tip_Carts").load(location.href + " .tip_Carts");
                toast({
                    title: "Thành công!",
                    message: "Bạn đã thêm sản phẩm vào giỏ hàng thành công.",
                    type: "success",
                    duration: 5000
                });
            },
            error: function () {
                toast({
                    title: "Thất bại!",
                    message: "Có lỗi xảy ra, vui lòng liên hệ quản trị viên.",
                    type: "error",
                    duration: 5000
                });
            }
        });
    }
    </script>
    @*<script>
            var proQty = $('.pro-qty');
            proQty.prepend('<span class="dec qtybtn">-</span>');
            proQty.append('<span class="inc qtybtn">+</span>');
            proQty.on('click', '.qtybtn', function () {
                var $button = $(this);
                var oldValue = $button.parent().find('input').val();
                if ($button.hasClass('inc')) {
                    var newVal = parseFloat(oldValue) + 1;
                } else {
                    // Don't allow decrementing below zero
                    if (oldValue > 0) {
                        var newVal = parseFloat(oldValue) - 1;
                    } else {
                        newVal = 0;
                    }
                }
                $button.parent().find('input').val(newVal);
            });
        </script>*@
    <script src="/Assest/User/js/customize.js"></script>
    <script src="/Assest/User/js/bootstrap.min.js"></script>
    <script src="/Assest/User/js/jquery.magnific-popup.min.js"></script>
    <script src="/Assest/User/js/jquery-ui.min.js"></script>
    <script src="/Assest/User/js/mixitup.min.js"></script>
    <script src="/Assest/User/js/jquery.countdown.min.js"></script>
    <script src="/Assest/User/js/jquery.slicknav.js"></script>
    <script src="/Assest/User/js/owl.carousel.min.js"></script>
    <script src="/Assest/User/js/jquery.nicescroll.min.js"></script>
    <script src="/Assest/User/js/main.js"></script>
    <script src="/Assest/User/js/Canvas__CartItem.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>

</html>
